<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Add this: -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>

    <h1>Welcome to PET HAVEN</h1>
    <br />
    <% if(message) {%>
      <%=message %>
      <% } %>
    <% if(user) {%>
    <h1>Hi <%= user.username %></h1>
    <p>
      <a href="/auth/sign-out">sign-out</a>
    </p>
    <% }else{ %>
      
    <p>
    <h1>Please sign-in or sign-up if you do not have an account</h1>
    </p>
    <%}%>
    
  </body>
</html>
