<nav>
  <a href="/auth/sign-out">Sign Out</a>

  <a href="/auth/sign-in">Sign In</a>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/create-pet">add pet </a>
  <a href="/show-pet">show pets</a>
</nav>
