<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>past orders</title>
  </head>
  <body>
    <h1>My pets</h1>
    <ul>
      <% pets.forEach(pet => { %>
      <li>
        <a href="/applications/<%= pet._id %>/order-pet">
          <%= pet.petname %>
        </a>
      </li>

      <% }); %>
    </ul>
  </body>
</html>
